@import "~@angular/material/theming";
@import "integrity-theme.scss";

// Be sure that you only ever include this mixin once!
@include mat-core;

.integrity-theme {
  @include angular-material-typography($integrity-font);
  @include angular-material-theme($integrity-theme);

  $foreground-color: mat-contrast($integrity-grey, 200);
  $background-color: mat-color($integrity-grey, 200);

  app-root {
    background-color: $background-color;
  }

  .mat-snack-bar-container {
    &.error {
      color: mat-color($integrity-warn, 100);
      background: mat-color($integrity-warn);

      .mat-simple-snackbar-action {
        color: mat-color($integrity-warn, 50);
        font-weight: bold;
      }
    }
  }

  .mat-toolbar {
    color: $foreground-color;
    background-color: $background-color;
  }

  .mat-sidenav {
    background-color: $background-color;

    .mat-list-item {
      color: $foreground-color;
    }

    .active {
      color: mat-color($integrity-accent);
    }
  }

  .mat-sidenav-container {
    color: $foreground-color;
    background-color: $background-color;
  }

  .mat-form-field-ripple {
    background-color: mat-color($integrity-green);
  }

  .mat-dialog-actions {
    justify-content: flex-end;
  }

  integrity-qrcode {
    svg {
      width: 240px;
      fill: mat-color($integrity-primary);
    }
  }
}
