@import "~@angular/material/theming";
@import "integrity-theme.scss";

// Be sure that you only ever include this mixin once!
@include mat-core($integrity-font);

.integrity-theme {
  @include angular-material-theme($integrity-theme);

  $foreground-color: mat-contrast($integrity-grey, 200);
  $background-color: mat-color($integrity-grey, 200);

  background-color: $background-color;

  a:link {
    color: mat-color($integrity-accent);
  }

  a:visited {
    color: mat-color($integrity-accent);
  }

  a:hover {
    color: mat-color($integrity-primary);
  }

  a:active {
    color: mat-color($integrity-warn);
  }

  .mat-snack-bar-container {
    &.error {
      color: mat-color($integrity-warn, 100);
      background: mat-color($integrity-warn);

      .mat-simple-snackbar-action {
        color: mat-color($integrity-warn, 50);
        font-weight: bold;
      }
    }
  }

  .mat-toolbar {
    color: $foreground-color;
    background-color: $background-color;
  }

  .mat-sidenav {
    background-color: $background-color;

    .mat-list-item {
      color: $foreground-color;
    }

    .active {
      color: mat-color($integrity-accent);
    }
  }

  .mat-sidenav-container {
    color: $foreground-color;
    background-color: $background-color;
  }

  .mat-sidenav-content {
    background-color: #fff;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .mat-form-field-ripple {
    background-color: mat-color($integrity-green);
  }

  .mat-dialog-actions {
    justify-content: flex-end;
  }

  .mat-raised-button {
    border-radius: 18px;

    &:not([class*=mat-elevation-z]) {
      box-shadow: none;
    }
  }

  .mat-button {
    border-radius: 18px;

    .mat-button-wrapper {
      color: mat-color($integrity-accent);
    }

    &[disabled] {
      opacity: 0.38;
    }
  }

  .mat-card {
    background-color: mat-color($integrity-grey96);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;

    .mat-card-header-text {
      margin: 0;
    }

    .mat-card-actions {
      text-align: right;
    }
  }

  integrity-qrcode {
    svg {
      width: 240px;
      fill: mat-color($integrity-primary);
    }
  }
}
