@import "~@angular/material/theming";
@import "color-generator.scss";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

$integrity-blue: mat-palette(mat-colors(#20afe2));
$integrity-dark-blue: mat-palette(mat-colors(#004b97));
$integrity-yellow: mat-palette(mat-colors(#f9b026));
$integrity-orange: mat-palette(mat-colors(#f76a0a));
$integrity-red: mat-palette(mat-colors(#d42424));
$integrity-green: mat-palette(mat-colors(#4bb04f));

$integrity-grey: mat-palette(mat-colors(#9e9e9e));
$integrity-grey62: mat-palette(mat-colors(#9e9e9e));
$integrity-grey90: mat-palette(mat-colors(#e6e6e6));
$integrity-grey96: mat-palette(mat-colors(#f6f6f6));
$integrity-grey40: mat-palette(mat-colors(#666666));

$integrity-primary: $integrity-dark-blue;
$integrity-accent: $integrity-blue;
$integrity-warn: $integrity-red;

$integrity-theme: mat-light-theme($integrity-primary, $integrity-accent, $integrity-warn);

$integrity-font: mat-typography-config(
  $font-family: "'Source Sans Pro', sans-serif",
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 300),
  $headline: mat-typography-level(24px, 32px, 400), /* h1 */
  $title: mat-typography-level(20px, 25px, 600), /* h2 */
  $subheading-2: mat-typography-level(16px, 24px, 400), /* h3 */
  $subheading-1: mat-typography-level(15px, 22px, 400), /* h4 */
  $body-2: mat-typography-level(14px, 24px, 600),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 15px, 400),
  $button: mat-typography-level(14px, 18px, 600),
  $input: mat-typography-level(14px, 1.428, 400)   /* Line-height must be unit-less fraction of the font-size */
);
